::selection {
    background-color: #f1f1f1;
}
body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm {
    margin: 20px;
}
.cityInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hsl(116, 62%, 50%);
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: hsl(116, 62%, 40%);
}
.card {
    background: linear-gradient(185deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
    padding: 50px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p {
    font-size: 1.8rem;
    margin: 5px 0;
}
.cityDisplay, .tempDisplay {
    font-size: 2rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
}
.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmoji {
    margin: 0;
    font-size: 7.5rem;
}
.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
}
